*.csx
paket.targets
downloads
paket-files
cache
analysis/obj
analysis/output
analysis/bin
analysis/packages
analysis/.fake
analysis/.paket/paket.exe
scraping/.paket/load
scraping/.paket/Paket.Restore.targets